<!DOCTYPE html>
<html lang="is">

<head>
  <meta charset="utf-8">
  <title>Undirskriftalisti</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div class="grid">
    <h1 class="row col">Undirskriftalisti</h1>
  </div>
  <form class="grid form" method="post" action="/">
    <div class="row">
      <label class="col col-2" for="name">Nafn*</label>
      <input class="col col-9 <%= formInfo.name_invalid ? 'invalid':'valid' %>" type="text" name="name"
        value="<%= formInfo.name %>" required><br>
    </div>
    <div class="row">
      <label class="col col-2" for="ssn">Kennitala*</label>
      <input class="col col-9 <%= formInfo.ssn_invalid ? 'invalid':'valid'%>" type="text" name="ssn" placeholder="000000-0000"
        value="<%= formInfo.ssn %>" required><br>
    </div>
    <div class="row">
      <label class="col col-2" for="ath">Athugasemd:</label>
      <textarea class="col col-9" name="ath">
    </textarea>
    </div>
    <div class="grid__center">
      <label class="" for="anon">
      <input class="" type="checkbox" value="true" name="anon" />
      Ekki birta nafn รก lista</label>
    </div>
    <div class="grid__center">
      <button>Skrifa undir</button>
    </div>
  </form>
  <% if(formInfo.errors.length !== 0) {%>
    <ul>
      <% for(let i = 0; i < formInfo.errors.length; i++) { %>
        <li><%= formInfo.errors[i].msg %></li>
      <% } %>
    </ul>
  <% } %>
  <hr>
  <table class="grid">
    <tr class="row">
      <td class="col col-2">Dags</td>
      <td class="col col-2">Nafn</td>
      <td class="col col-7">Athugasemd</td>
    </tr>
    <% signatures.forEach((sign) => { %>
      <tr class="row">
        <td class="col col-2"><%= sign.signed %></td>
        <td class="col col-2"><%= sign.name %></td>
        <td class="col col-7"><%= sign.comment %></td>
      </tr>
    <% }); %>
  </table>
</body>

</html>